[user]
	email = e.satoshi@gmail.com
	name = Satoshi Ebisawa
[color]
	status = auto
	branch = auto
	diff = auto
	interactive = auto
	grep = auto
[core]
	excludesfile = ~/.gitignore
	quotepath = false
	precomposeunicode = true
[alias]
	co = checkout
	ci = commit
	st = status --branch --short
	br = branch
	difc = diff --cached
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	gr = grep --line-number --show-function --color --heading --break
	l = log --stat --decorate
	lp = log --stat --decorate --patch
[github]
	user = satococoa
[push]
	default = simple
[ghq]
	root = ~/dev/src
