[user]
	email = e.satoshi@gmail.com
	name = Satoshi Ebisawa
[color]
	status = auto
	branch = auto
	diff = auto
	interactive = auto
	grep = auto
[core]
	excludesfile = ~/.gitignore
	quotepath = false
	precomposeunicode = true
[push]
	default = simple
[pull]
	rebase = true
[merge]
	ff = false
  tool = p4merge
[alias]
	co = checkout
	ci = commit
	st = status --branch --short
	br = branch
	difc = diff --cached
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	gr = grep --line-number --show-function --color --heading --break
	l = log --stat --decorate
	lp = log --stat --decorate --patch
[github]
	user = satococoa
[ghq]
	root = ~/dev/src
[mergetool "p4merge"]
  cmd = ~/Applications/p4merge.app/Contents/MacOS/p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
